{% extends "base.html" %}

{% block title %}Create an event{% endblock %}

{% block body %}

<form  class="formCentre" style="width:40%;" method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in get_flashed_messages() %}
        <div class ="alert alert-primary">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h2 class="mt-5">Create an event</h2>

    <div style="color: white;" class="form-group">
        {{form.Name.label}}
        {{form.Name (class="form-control", placeholder="Name of your event")}}

        {{form.Description.label}}
        {{form.Description (class="form-control", placeholder="Description of your event")}}

        {{form.Category.label}}
        {{form.Category (class="form-control", placeholder="Category of your event")}}

        {{form.Date.label}}
        {{form.Date (class="form-control")}}

        {{form.Time.label}}
        {{form.Time (class="form-control")}}

        {{form.Cost.label}}
        {{form.Cost (class="form-control", placeholder="$AUD", type="number")}}

        {{form.Address.label}}
        {{form.Address (class="form-control", placeholder="Address for you event")}}

        {{form.TotalTickets.label}}
        {{form.TotalTickets (class="form-control", placeholder="Total number of tickets", type="number")}}

        {{form.CoverImage.label}}
        {{form.CoverImage (class="form-control")}}
        {% for error in form.CoverImage.errors %}
            <p style="color: white;", >{{ error }} </p> 
        {% endfor %}
    
        {{form.Create (class="btn btn-primary mt-4")}}
    </div>

</form>

{% endblock %}
