{% extends "base.html" %}

{% block title %}Order {{order.OrderID}}{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center">


    <div class="order mt-5">

        <h1 class="white">{{order.Event.Name}}</h1>

        <h4 class="white">Order ID: {{order.OrderID}}</h4>

        <hr>

        <pc lass="white">This is an order for {{order.NumTickets}} ticket(s).</p>

        <br>

        <p class="white">Cost of Each Tickets: ${{order.Event.Cost}}</p>

        <br>
        
        <p class="white">Total Purchase Amount: ${{order.NumTickets * order.Event.Cost}}</p>

        <a href="{{url_for('event.view', id = order.Event.EventID)}}" class="btn btn-primary; white">View Event Page</a>

    </div>


</div>

{% endblock %}