{% extends "base.html" %}

{% block title %}{{event.Name}} Event{% endblock %}

{% block body %}

<div class="container">
  <div class="white event-content mt-5">
    <h1 class="mb-3" style="text-align: left;">{{event.Name}}</h1>
    <hr>
    <div class="row mb-4">
      <div class="col-6">
        <img width="600px" src="{{ url_for('static' , filename=event.Image) }}" alt="">

        <h2>Description</h2>
        <p>{{event.Description}}</p>
      </div>

      <div class="col-6">

        {% if current_user.Username == event.Username %}
        <a href="{{url_for('event.edit', id=event.EventID)}}" class="btn btn-secondary mb-3">Edit This Event</a><br>
        {% endif %}

        <strong>STATUS: {{event.Status}}</strong>

        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg> {{event.DateTime.strftime('%d / %m / %y')}}</p>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
            <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
          </svg> {{event.DateTime.strftime('%I:%M %p')}}</p>

        <h5>AUD ${{event.Cost}}</h5>

        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg> <a style="color: white;" target="_blank" href="https://maps.google.com/?q={{event.Address}}">{{event.Address}}</a></p>

        <h4>Tickets Available: {{event.AvailableTickets}} / {{event.TotalTickets}}</h4>
        
        {%if event.Status == "Cancelled"%}

        <button type="button" class="btn btn-primary" disabled>Cancelled</button>

        {% elif event.AvailableTickets == 0 %}

        <button type="button" class="btn btn-primary" disabled>Booked Out</button>

        {% elif current_user.is_authenticated %}
        <!-- Button trigger modal for purchasing tickets -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingModal">
          Purchase Tickets
        </button>

        {% else %}

        <a href="{{url_for('auth.login')}}" class="btn btn-primary">Login to book this event</a>

        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="color: black;" id="bookingModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <form class="d-flex justify-content-center" action="{{ url_for('event.booking', id = event.EventID) }}" method="POST">

                  {{form.hidden_tag()}}

                  <div class="form-group">
                    {{bookingForm.Amount.label}}
                    {{bookingForm.Amount(class="form-control", type="number", max = event.AvailableTickets)}}

                    <label for="creditCard">Credit Card Number</label>
                    <input id="creditCard" type="text" class="form-control" required>

                    <label for="expiry">Credit Card Expiry</label>
                    <div style="color: black; font-size: 1.5em;" id="expiry" class="d-flex">
                      <input type="text" class="form-control" maxlength="2" style="width: 60px;" placeholder="MM">/<input type="text" class="form-control" maxlength="2"  style="width: 60px;" placeholder="YY" required>
                    </div>

                    {{bookingForm.Submit(class="form-control mt-5 btn btn-primary")}}

                  </div>

                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comments">
      <h2>Comments</h2>
      <hr>

      <!-- Post a comment -->
      {% if current_user.is_authenticated %}
      <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">

          {{form.Content(class="form-control")}}
          {{form.Submit(class="form-control mt-3 mb-5 btn btn-primary", style="width:25%")}}

        </div>
      </form>
      {%else%}
      <h4>Log in now to comment!</h4>
      {% endif %}
  
      {% if event.Comments | length < 1 %}
      <h4>There doesn't seem to be any comments yet...</h4>

      {% else %}

        {% for comment in event.Comments %}

        <!-- Singular comment -->
        <div class="comment bg-dark" style="border-style: solid; border-width: thin; border-color: white;">
          <div class="comment-contents">
            <small>{{comment.DateTime}}</small>
              <h5 class="">{{comment.Username}}</h5><br>
              
              <p>{{comment.Comment}}</p>
          </div>
        </div>
        {% endfor %}

      {% endif %}
    </div>
    
</div>
</div>

{% endblock %}