{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <div class = "container" >
        <div class = "page-header mt-5">
            <h4 style="text-align: center;">{{heading}}</h4>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in get_flashed_messages() %}
            <div class ="alert alert-danger">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class = "formCentre col-md-6" style="color: white;">
            {{wtf.quick_form(form, button_map={'submit' : 'primary'})}}
        </div>

    </div>

{% endblock %}