{% extends "base.html" %}
<link rel="stylesheet" href="index.css">

{% block title %}
Home
{% endblock %}

{% block header %}
<style>
p {
    color: black;
}
</style>
<section>
    <div class="p-2 mb-4 rounded-3 col">
        <div style="color: white" class="container-fluid py-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in get_flashed_messages() %}
                <div class ="alert alert-primary">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 style="text-align: center;" class="fw-bold">Party Event Management</h1>
            <h2 style="color: white; text-align: center;" class=".center">Welcome to Part Event Managment where the latest, greatest and biggest partys of all time are listed. Here you will find all sorts of party's from casual to full on rave to even food and drink tastings. Your next adventure lies ahead!</h2>
        </div>
    </div>
</section>

{% endblock %}

{% block body %}


<section >
    <p class="padS">
        <b style="color: white; ">Featured Event Categories: </b>
        {% if events | length != 0 %}
            {% for category in categories %}
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{category.Name}}" aria-expanded="false" aria-controls="{{category.Name}}">{{category.Name}}</button>
            {% endfor %}
        {% endif %}
    </p>

        {% if events | length != 0 %}
            {% for category in categories %}
            <section id="{{category.Name}}" style="padding-bottom: 3%"  class="collapse multi-collapse">
                <div class="row padB">

                    {% for event in events %}
                        {% if event.Category == category %}
                        
                            <div class="col-xs-12 col-md-6 col-lg-3">
                                <div class="card">
                                    <img src="{{ url_for('static' , filename=event.Image) }}"  style="width: 440px;" class="card-img-top maxH" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{event.Name}}</h5>
                                        <p class="card-text">{{event.Description}}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Event Status: {{event.Status}}</li>
                                        <li class="list-group-item">Tickets Left: {{event.AvailableTickets}} / {{event.TotalTickets}}</li>
                                        <li class="list-group-item">Ticket Price: ${{event.Cost}}</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="{{ url_for('event.view', id = event.EventID)}}" class="btn btn-primary btn-lg col-12">Event Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            
            {% endfor %}
            </section>
        {% endif %}


</section>
{% endblock %}