{% extends "base.html" %}
<link rel="stylesheet" href="index.css">

{% block title %}
Home
{% endblock %}

{% block header %}
<style>
p {
    color: black;
}
</style>
<section>
    <div class="p-2 mb-4 rounded-3 col">
        <div style="color: white" class="container-fluid py-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in get_flashed_messages() %}
                <div class ="alert alert-primary">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="display-5 fw-bold">Party Event Management</h1>
            <p style="color: white" class="col-md-8 fs-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus metus vel sapien scelerisque ultricies. Quisque tristique, nunc non iaculis tempus, ipsum mi malesuada dolor, quis maximus tellus risus quis.</p>

            <form id="search">
                <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search">
                <button class="btn btn-primary btn-lg col-2" type="button">Search</button>
            </form>

        </div>
    </div>
</section>

{% endblock %}

{% block body %}


<section >
    <p class="padS">
        <b style="color: white">Featured Event Categories:</b>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Halloween</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Rock</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">90's</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Wine</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">Whiskey</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4 multiCollapseExample5">All</button>
    </p>



    <div style="color: black" class="row padS padB" >

        {% if events | length != 0 %}
            {% for  category in categories %}
            <section id="{{category.Name}}">
                {% for event in events %}
                    {% if event.Category == category %}
                    <div class="row padB">
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="card">
                                <img src="{{ url_for('static' , filename=event.Image) }}"  style="width: 440px;" class="card-img-top maxH" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{event.Name}}</h5>
                                    <p class="card-text">{{event.Description}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Event Status: {{event.Status}}</li>
                                    <li class="list-group-item">Tickets Left: {{event.AvailableTickets}} / {{event.TotalTickets}}</li>
                                    <li class="list-group-item">Ticket Price: ${{event.Cost}}</li>
                                </ul>
                                <div class="card-body">
                                    <a href="{{ url_for('event.view', id = event.EventID)}}" class="btn btn-primary btn-lg col-12">Event Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            
            {% endfor %}
            </section>
        {% endif %}
    </div>

</section>
{% endblock %}