* {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: black;
}

header {
    background-color: rgb(22, 0, 22);
}

body {
    background-color: #160c1b;
}

footer { 
    background-color: rgb(22, 0, 22);
    padding-bottom: 3em;
}

input, select, option {
    color: black;
}

hr { 
    border: 0; 
    border-top: 1px solid white;
}

#search {
    display: flex;
    justify-content: center;
}

.maxH {
    height: 250px;
}

.maxW {
    height: 100%;
}

.padS {
    padding-left: 4%;
    padding-right: 4%;
}

.padB {
    padding-bottom: 6%;
}

.padT {
    padding-Top: 2%;
}

.formCentre {
    margin: auto;
}
